<div class="user-list">
  <!-- tarjetas de usuarios -->
  <app-user-card *ngFor="let user of users" [user]="user" (click)="showDetails(user)"></app-user-card>
</div>

<div class="user-details">
  <!-- detalles del usuario seleccionado -->
  <app-user-details [user]="selectedUser"></app-user-details>
</div>

<div class="user-details-sidebar-container">
  <!-- detalles del usuario seleccionado -->
  <app-user-details-sidebar *ngIf="selectedUser" [selectedUser]="selectedUser"></app-user-details-sidebar>
</div>