<div class="container" [ngClass]="{ 'sidebar-open': selectedUser }">
  <div class="user-cards-container">
    <app-user-card *ngFor="let user of users" [user]="user" [isSelected]="user === selectedUser" (click)="selectUser(user)" class="app-user-card"></app-user-card>
  </div>

  <div class="sidebar-container" *ngIf="selectedUser">
    <div class="user-details-sidebar">
      <!-- Detalles del usu seleccionado -->
      <!-- <div class="close-icon" (click)="hideDetails()">x</div> -->
      <app-user-details-sidebar [selectedUser]="selectedUser" (hideDetails)="hideDetails()"></app-user-details-sidebar>
    </div>
    <!-- <button class="send-messages-button">Send Messages</button> -->
  </div>
</div>