<h2>Añadir Nuevo Contacto</h2>

<form (submit)="addUser()">
  <div>
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" [(ngModel)]="newUser.name" required>
  </div>
  <div>
    <label for="phoneNumber">Número de Teléfono:</label>
    <input type="tel" id="phoneNumber" name="phoneNumber" [(ngModel)]="newUser.phoneNumber" required>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="newUser.email" required>
  </div>
  

  <button type="submit">Añadir Contacto</button>
</form>
